<div class="row">
  <div class="col-md-4 offset-4 mt-5 mb-5">
      <app-pizza [pizza]="selectedPizza"></app-pizza>
  </div>
</div>

<h5>Au total, j'ai {{ total }} pizzas</h5>

<div class="row">
  <div class="col-md-3" *ngFor="let iterationPizza of pizzaList">
      <div class="card">
          <img class="card-img-top" [src]="iterationPizza.image" alt="{{ iterationPizza.name }}">
          <div class="card-body">
              <h5 class="card-title">{{ iterationPizza.name }}</h5>
              <p class="card-text">{{ iterationPizza.price }}</p>
              <div class="text-center">
                <app-counter (augmente)="toto($event)" (diminue)="toto($event)"></app-counter>
                <button (click)="onSelect(iterationPizza)" class="btn btn-primary">Voir la pizza</button>
              </div>
          </div>
      </div>
  </div>
</div>
